@import '../../node_modules/bootstrap/scss/bootstrap.scss';
@import '../forms';

/*
Foglio per la corretta visualizzazione della pagina di test del template form BS4
----------------------------------------------------------------
Necessario solo per la pagina di test
Non va incluso nei progetto in cui è utilizzato il template form
*/

#toc {
  margin:1rem 0 2rem;
  padding:.5rem;
  background-color: $gray-100;
}

h2 {
  margin-top:2rem;
  padding:.3rem;
  background-color: $gray-200;
}

.form-test-element {
  padding:.5rem .5rem 1rem;
  margin:1.5rem 0;
  border-bottom:2px solid $gray-500;

  /* &:nth-child(odd) {
    background-color: #efefef;
  } */

  h3 {
    // font-size:1.3rem;
    @extend .h4;
    margin:0 0 .8rem;
  }
  .info {
    margin-bottom:.5rem;
    padding:.3rem 0;
    border-style:dotted none;
    border-width: 1px;
    border-color:$gray-500;
  }

  .result {
    > div {
      height: 100%;
      padding:.3rem;
      background-color: #efefef;
    }
  }
  // .twig {

  // }
  // .markup {

  // }

}

.badge-link {
  margin-left:.4rem;
  font-size:.7rem;
  position: relative;
  bottom:4px;
  &:first-of-type {
    margin-left:2rem;
  }
}


// prism
.code-toolbar {
  height: 100%;
}
.code-toolbar pre {
  height: 100%;
  margin: 0;
}

