/*
https://github.com/massimo-cassandro/symfony-bootstrap-form-theme

This style sheet expands and modify some Bootstrap css settings and must
be included in projects that implement the `bs4_form_layout.html.twig` template

-------------

The responsive columns files (from https://github.com/massimo-cassandro/m-utilitie)
is required. Add this line to your scss:

@import 'path/to/node_modules/m-utilities/sass_utilities/bs4_responsive_columns';
*/

$sf-label-color : $body-color!default; // sometimes shared by legend
$sf-label-font-weight: $font-weight-bold!default;
$sf-label-font-size: .9rem!default;
$sf-form-font-family: $font-family-base!default;
$sf-form-help-text-color: $gray-700!default;
$sf-input-group-text-weight: $font-weight-normal!default;
$sf-disabled-color: $gray-600!default;
$sf-required-asterisk-color: #c00!default;
$sf-error-text-color: theme-color(danger)!default;

input, button, select, textarea {
  font-family: $sf-form-font-family;

  &[disabled] {
    color:$sf-disabled-color;
    font-style:italic;
  }
}

.form-help-text {
  @extend .form-text;
  //@extend .text-muted;
  color: $sf-form-help-text-color;
  @extend .small;
  .disabled & {
    color: $sf-disabled-color;
  }
  &.form-help-top {
    margin:0 0 .5rem 0;
  }
}

%required {
  &::before {
    position:relative;
    top:3px;
    color: $sf-required-asterisk-color;
    margin-right:.1em;
    font-size: 1.2rem;
    line-height: 1;
    content: '\002A'; //'\2733'; //'*';
  }
}

label {
  font-weight: $sf-label-font-weight;
  font-size: $sf-label-font-size;

  &.disabled, .disabled &, .disabled>&, [disabled] & {
    font-style: italic;
    color: $sf-disabled-color;

    &:not(.custom-control-label)::before {
      content:none!important;
    }
  }

  &.required:not(.disabled),      // required class applied directly to the label
  div.required:not(.disabled) & { // must not be applied to fieldset containers
    @extend %required;
  }

  .form-group &{

    // white-space: nowrap;
    // text-overflow: ellipsis;
    // overflow: hidden;
    // display: block;
    margin-bottom: .3rem;

    // &:not(.input-group-text) {
    //   font-size: .8rem;
    // }
    // &.input-group-text {
    //   font-weight: $sf-input-group-text-weight;
    // }
  }
}

// multiple choices
fieldset.required:not(.disabled) {
  legend {
    @extend %required;
  }
}

// label tag simulation
fieldset.form-group > legend,
.label {
  @extend label;
  color: $sf-label-color;
}

// custom checkboxes
.custom-checkbox {
  .custom-control-input[required]:not([disabled]) ~ .required {
    @extend %required;
    &::before {
      margin:0 0 0 .3rem;
    }
  }
}

// multiple checkbox
.form-collection {
  .custom-control-label, // custom controls
  .form-check label {
    font-weight: $font-weight-normal;
  }
}


// errors
// .sf-error element is an <ul> inside the label of the form element with errors
// each error message is a <li> element
.sf-error {
  list-style: none;
  margin: 0 0 .5rem;
  padding:0;

  li {
    padding:0;
    margin: .3rem 0 0;
    color: $sf-error-text-color;
  }
}
